@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer components {
  .container {
    @apply mx-auto my-0 max-w-4xl px-8;
  }
}

.header-link {
  @apply border-b-2 border-transparent px-1 py-0 text-white no-underline transition-all duration-300 hover:border-white hover:underline-offset-4;
}


  @layer components {
    .header-link-active {
      @apply header-link hover:border-sky-500 !text-sky-500;
    }
  }
